<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=476">
    <title>Simple Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="parent-div">
        <div id="child-div_trans" class="child-div">
            <p>Now Loading...</p>
        </div>
    </div>
    <script>
        const pathname = "<%= pathname %>";
    </script>
    <script src="/javascripts/not-scroll.js"></script>
    <script type="application/javascript" src="/javascripts/ip-script.js"></script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>